.header {
    height: 786px;
    background-image: url(../img/ass-creed/cikebgm.jpg);
    background-size: cover;
    /* background-position: 0 -100px; */
    background-attachment: fixed;
    /* overflow: hidden; */
}

.header .header-nav {
    margin-top: 0px;
}

.footer {
    background-color: #ecddec;
    padding: 100px 0;
}

.footer .copyright {
    text-align: center;
    font-size: 16px;
}