<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/lib/normalize.css">
    <link rel="stylesheet" href="css/common/global.css">
    <link rel="stylesheet" href="css/component/game-screen.css">
    <link rel="stylesheet" href="css/component/game-header.css">
    <link rel="stylesheet" href="css/halo.css">
    <title>Halo</title>
</head>

<body>
    <div style="background-color: rgba(0, 0, 0, 0.75); height: 100%;">
            <div class="header">
                <div class="container">
                    <div class="header-nav">
                        <div class="navbar">
                            <a href="">
                                <i class="fa fa-book"></i>游戏介绍</a>
                            <a href="">
                                <i class="fa fa-calendar-check-o"></i>最新资讯</a>
                            <a href="">
                                <i class="fa fa-map-o"></i>游戏攻略</a>
                            <a href="">
                                <i class="fa fa-gamepad"></i>关卡说明</a>
                            <a href="">
                                <i class="fa fa-download"></i>下载游戏</a>
                        </div>
                        <form action="" class="searchbar">
                            <input type="text" class="inputs" placeholder="搜索游戏内容">
                            <button class="btn btn-search">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- <footer class="footer">
                <div class="container">
                    <div class="copyright">
                        <i class="fa fa-copyright"></i>个人版权所有-备案100000546
                    </div>
                </div>
            </footer> -->
        </div>
</body>

</html>